<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/head">head</div>
<title>JobCtrl List</title>

</head>
<body>
    <div class="container-fluid" id="app">

        <!-- screen id -->
<!--         <div th:replace="fragments/layout :: content_header(|#{schCtrl.header.title}|, 'DLS-SHC-001')">SCREEN-ID</div> -->

        <form id="fm-search" class="form-horizontal margin-top-10">
             <!--<div class="row">
               <div class="form-group col-sm-6">
                  <label class="control-label col-sm-2" for="sysCode" th:text="#{schCtrl.sysCode}">模組名</label>
                  <div class="col-sm-9">
                      <input id="sysCode" name="sysCode" v-model="schCtrl.sysCode" class="form-control" readonly>
                  </div>
               </div>
                
               <div class="form-group col-sm-6">
                  <label class="control-label col-sm-2" for="jobUse" th:text="#{schCtrl.jobUse}">用途</label>
                  <div class="col-sm-9">
                      <input id="jobUse" name="jobUse" v-model="schCtrl.jobUse" class="form-control" readonly>
                  </div>
               </div> 
            </div>-->
            <div class="row">
               <div class="form-group col-sm-6">
                  <label class="control-label col-sm-2" for="jobCode" th:text="#{schCtrl.jobCode}">任務名稱</label>
                  <div class="col-sm-9">
                      <input id="jobCode" name="jobCode" v-model="schCtrl.jobCode" class="form-control" readonly>
                  </div>
               </div>
                
               <div class="form-group col-sm-6">
                  <label class="control-label col-sm-2" for="cronChar" th:text="#{schCtrl.cronChar}">時間表達式</label>
                  <div class="col-sm-9">
                      <input id="cronChar" name="cronChar" v-model="schCtrl.cronChar" class="form-control" readonly>
                  </div>
               </div> 
            </div>
            <div class="row">
               <div class="form-group col-sm-6">
                  <label class="control-label col-sm-2" for="jobCode" th:text="#{schCtrl.clsName}">類全路徑</label>
                  <div class="col-sm-9">
                      <input id="clsName" name="clsName" v-model="schCtrl.clsName" class="form-control" readonly>
                  </div>
               </div>
                
               <div class="form-group col-sm-6">
                  <label class="control-label col-sm-2" for="isSync" th:text="#{schCtrl.isSync}">運行方式</label>
                  <div class="col-sm-9">
                      <select id="isSync" name="isSync" v-model="schCtrl.isSync" class="form-control" disabled >
                        <option value="" th:text="#{schCtrl.choose}">請選擇</option>
                        <option value="true" th:text="#{schCtrl.isSync.true}">同步</option>
                        <option value="false" th:text="#{schCtrl.isSync.false}">異步</option>
                      </select>
                  </div>
               </div> 
            </div>
            <div class="row">
               <div class="form-group col-sm-6">
                  <label class="control-label col-sm-2" for="jobType" th:text="#{schCtrl.jobType}">任務類型</label>
                  <div class="col-sm-9">
                      <select id="jobType" name="jobType" class="form-control" v-model="schCtrl.jobType" disabled >
	                       <option value="" th:text="#{schCtrl.choose}">請選擇</option>
	                       <option value="JAVA" >JAVA</option>
	                       <option value="JAVA_NOLOG" >JAVA_NOLOG</option>
	                       <option value="PLSQL" >PLSQL</option>
	                       <option value="TRIGGER" >TRIGGER</option>
	                       <option value="PT-EXT" >PT</option>
                       </select>
                  </div>
               </div>

                <div class="form-group col-sm-6">
                    <label class="control-label col-sm-2" for="enabled" th:text="#{schCtrl.enabled}">啓用/禁用</label>
                    <div class="col-sm-9">
                        <select id="enabled" name="enabled" v-model="schCtrl.enabled" class="form-control" disabled >
                            <option value="" th:text="#{schCtrl.choose}">請選擇</option>
                            <option value="true" th:text="#{schCtrl.enabled.true}">啓用</option>
                            <option value="false" th:text="#{schCtrl.enabled.false}">禁用</option>
                        </select>
                    </div>
                </div>

                <!--<div class="form-group col-sm-6">
                   <label class="control-label col-sm-2" for="dataDir" th:text="#{schCtrl.dataDir}">文件存放路徑</label>
                   <div class="col-sm-9">
                       <input id="dataDir" name="dataDir" v-model="schCtrl.dataDir" class="form-control" readonly >
                   </div>
                </div> -->
            </div>
            <div class="row">
               <!--<div class="form-group col-sm-6">
                  <label class="control-label col-sm-2" for="dataDays" th:text="#{schCtrl.dataDays}">導出數據(天)</label>
                  <div class="col-sm-9">
                      <input id="dataDays" name="dataDays" v-model="schCtrl.dataDays" class="form-control"  readonly>
                  </div>
               </div>-->
            </div>
            <input type="hidden" id="jobCtrlId" name="jobCtrlId" v-model="schCtrl.id" >
        </form>
        <!-- Table -->
        <table id="jobDetailTable" class="table table-bordered table-hover table-condensed" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th th:text="#{jobCtrlLog.jobName}">Job Code</th>
                    <th th:text="#{jobCtrlLog.recProcessed}">處理記錄數</th>
                    <th th:text="#{jobCtrlLog.recPending}">未處理記錄數</th>
                    <!--<th th:text="#{jobCtrlLog.recInsert}">新增記錄數</th>
                    <th th:text="#{jobCtrlLog.recUpdate}">更新記錄數</th>
                    <th th:text="#{jobCtrlLog.recDelete}">刪除記錄數</th>-->
                    <th th:text="#{jobCtrlLog.startTime}">開始時間</th>
                    <th th:text="#{jobCtrlLog.endTime}">結束時間</th>
                    <th th:text="#{jobCtrlLog.status}">工作狀態</th>
                    <!--<th th:text="#{jobCtrlLog.latestJobInd}">是否最新工作</th>-->
                </tr>
            </thead>
        </table>
        <button id="back" type="button" class="btn btn-default pull-right" style="margin-left: 20px;" @click="doBack">
            <i class="glyphicon glyphicon-backward"></i>
            <span th:text="#{global.back}"></span>
        </button>

    </div>

    <!-- 注入系統默認javaScript腳本 -->
    <div th:replace="fragments/script">Script JS</div>
    <!-- 自己系統的腳本請在下面引入 -->

   <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
        //此處為將國際化傳值到JS
        var vModel = {
             id: [[${id}]]
         };
    /*]]>*/ 
    </script>

    <script type="text/javascript" src="static/js/sch/schDetailController.js" th:src="@{/static/js/sch/schDetailController.js}"></script>

</body>
</html>
