<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://atos.net/dls-security">
<head>
<div th:replace="fragments/head">head</div>
<title>PSP接口返回值查看</title>

</head>
<body>
    <div class="container-fluid">

        <!-- screen id -->
        <div th:replace="fragments/layout :: content_header(|#{params.header.title}|, 'IRD-SYS-026')">SCREEN-ID</div>

        <div id="content-div" class="container-fluid">

        </div>
    <!-- 注入系統默認javaScript腳本 -->
    <div th:replace="fragments/script">Script JS</div>
    <!-- 自己系統的腳本請在下面引入 -->

    <script type="text/javascript" th:inline="javascript">
    </script>

    <script type="text/javascript" src="static/js/sys/operationCodes.js" th:src="@{/static/js/sys/operationCodes.js}"></script>
    </div>
</body>
</html>
