<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head">head</div>
    <title></title>
</head>
<body>
<div class="col-sm-12" id="app">
    <div th:replace="fragments/layout :: content_header(|#{rpt.export.benExhaustStatistics.header.title}|, 'CLP-RPT-004')">SCREEN-ID</div>
    <form class="form-horizontal bv-form" id="fm-search">
        <fieldset>
            <div class="form-group">
                <label class="control-label col-sm-1 required" th:text="#{rpt.export.center}">驗車中心</label>
                <div class="col-sm-2">
                    <v-select :url="centerUrl" id="centerCode" name="centerCode" th:placeholder="#{que.center}" placeholder="請選擇"></v-select>
                </div>
                <label class="control-label col-sm-1" for="startDate" th:text="#{rpt.export.date}">時間</label>
                <div class="col-sm-3_5">
                    <div class="input-group">
                        <input id="startDate" autocomplete="off" name="startDate" class="input-sm form-control" th:placeholder="#{global.dateFormat}" placeholder="DD/MM/YYYY" style="padding-right: 18px">
                        <span class="input-group-addon">-</span>
                        <input id="endDate" autocomplete="off" name="endDate" class="input-sm form-control" th:placeholder="#{global.dateFormat}" placeholder="DD/MM/YYYY">
                    </div>
                </div>
                <label class="control-label col-sm-1 required" th:text="#{rpt.export.type}">類型</label>
                <div class="col-sm-3">
                    <v-select value="1" :options="typeOptions" id="type" name="type" th:placeholder="#{rpt.export.type}" placeholder="請選擇"></v-select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12" style="text-align:right;">
                    <button class="btn btn-primary" type="button" @click="searchFunc()">
                        <i class="glyphicon glyphicon-search"></i>
                        <span th:text="#{global.search}"></span>
                    </button>
                    <button class="btn btn-default" type="button" @click="reset()">
                        <i class="glyphicon glyphicon-repeat"></i>
                        <span th:text="#{global.reset}"></span>
                    </button>
                    <button class="btn btn-default" type="button" @click="exportData()" sec:authorize="hasPermission('EXPORT-BEN-EXHAUST')">
                        <i class="glyphicon glyphicon-save"></i>
                        <span th:text="#{global.export}"></span>
                    </button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <table class="table table-bordered table-condensed dataTable" id="table">
                        <thead>
                        <tr role="row">
                            <th th:text="#{rpt.export.benExhaustStatistics.inspMasterId}">驗車編號</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.noOfTimesInsp}">檢驗次數</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.centerNameCn}">地點</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.plateNo}">車輛號牌</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.vehType}">車輛類型</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.vin}">車身編號</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.engineNo}">引擎編號</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.vehBrandCode}">品牌</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.vehModel}">型號</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.vehBuildYear}">出廠年份</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.vtaYear}">型號年份</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.vehRegDate}">登記日期</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.maxPower}">最大馬力</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.powerUnitType}">馬力類型</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.cylinderVol}">氣缸容量</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.fuelType}">燃油類別</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.fuelTypeCn}">燃油類別中文</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.fuelTypePt}">燃油類別葡文</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.fuelSupplyType}">供油方式</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.vehCategory}">車輛種類</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.vehCategoryCn}">車輛種類中文</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.vehCategoryPt}">車輛種類葡文</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.vehUsageCode}">車輛用途</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.vehUsageCodeCn}">車輛用途中文</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.vehUsageCodePt}">車輛用途葡文</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.vehBuildCtryCode}">來源地</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.vehWeight}">車身重量</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.vehGrossWeight}">縂重量</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.inspTime}">檢驗時間</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.eCo5025}">ASM5025_CO測量值[%]</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.eCo5025Result}">ASM5025_CO判定結果</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.eHc5025}">ASM5025_HC測量值[ppm]</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.eHc5025Result}">ASM5025_HC判定結果</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.eNo5025}">ASM5025_NO測量值[ppm]</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.eNo5025Result}">ASM5025_NO判定結果</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.eCo2540}">ASM2540_CO測量值[%]</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.eCo2540Result}">ASM2540_CO判定結果</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.eHc2540}">ASM2540_HC測量值[ppm]</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.eHc2540Result}">ASM2540_HC判定結果</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.eNo2540}">ASM2540_NO測量值[ppm]</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.eNo2540Result}">ASM2540_NO判定結果</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.eOverallResult}">判定結果</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.fHsu100}">LD煙霧(100%)測量值[HSU]</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.fHsu90}">LD煙霧(90%)測量值[HSU]</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.fHsu80}">LD煙霧(80%)測量值[HSU]</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.fMaxWp}">LD最大輪邊功率[kW]</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.fOverallResult}">判定結果</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.dCoIdle}">怠速CO測量值[%]</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.dHcIdle}">怠速HC測量值[ppm]</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.dOverallResult}">判定結果</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.bCoIdle}">怠速CO測量值[%]</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.bHcIdle}">怠速HC測量值[ppm]</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.bCoHighIdle}">高怠速CO測量值[%]</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.bHcHighIdle}">高怠速HC測量值[ppm]</th>
                            <th th:text="#{rpt.export.benExhaustStatistics.bOverallResult}">判定結果</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div id="table_action" style="display: none">
    <div class="text-center">

    </div>
</div>
<!aScript腳本 -->
<div th:replace="fragments/script">Script JS</div>
<!-- 自己系統的腳本請在下面引入 -->

<script type="text/javascript" src="static/js/rpt/export/benExhaustStatistics.js" th:src="@{/static/js/rpt/export/benExhaustStatistics.js}"></script>

</body>
</html>