<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head">head</div>
    <title></title>
</head>
<body>
<div class="col-sm-12" id="app">
    <div th:replace="fragments/layout :: content_header(|#{rpt.export.inspectionItemStatistics.header.title}|, 'CLP-RPT-006')">SCREEN-ID</div>
    <form class="form-horizontal bv-form" id="fm-search">
        <fieldset>
            <div class="form-group">
                <label class="control-label col-sm-1 required" th:text="#{rpt.export.center}">驗車中心</label>
                <div class="col-sm-2">
                    <v-select :url="centerUrl" id="centerCode" name="centerCode" th:placeholder="#{que.center}" placeholder="請選擇"></v-select>
                </div>
                <label class="control-label col-sm-1" for="startDate" th:text="#{rpt.export.date}">時間</label>
                <div class="col-sm-3_5">
                    <div class="input-group">
                        <input id="startDate" autocomplete="off" name="startDate" class="input-sm form-control" th:placeholder="#{global.dateFormat}" placeholder="DD/MM/YYYY" style="padding-right: 18px">
                        <span class="input-group-addon">-</span>
                        <input id="endDate" autocomplete="off" name="endDate" class="input-sm form-control" th:placeholder="#{global.dateFormat}" placeholder="DD/MM/YYYY">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12" style="text-align:right;">
                    <button class="btn btn-primary" type="button" @click="searchFunc()">
                        <i class="glyphicon glyphicon-search"></i>
                        <span th:text="#{global.search}"></span>
                    </button>
                    <button class="btn btn-default" type="button" @click="reset()">
                        <i class="glyphicon glyphicon-repeat"></i>
                        <span th:text="#{global.reset}"></span>
                    </button>
                    <button class="btn btn-default" type="button" @click="exportData()" sec:authorize="hasPermission('RPT-EXPORT-ITEM-STATISTICS')">
                        <i class="glyphicon glyphicon-save"></i>
                        <span th:text="#{global.export}"></span>
                    </button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <table class="table table-bordered table-condensed dataTable" id="table">
                        <thead>
                        <tr role="row">
                            <th th:text="#{rpt.export.inspectionItemStatistics.centerName}">驗車中心名稱</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.date}">時間</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.inspectionCount}">車輛檢測數量</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.inspectionPassCount}">車輛檢測合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.inspectionNoPassCount}">車輛檢測不合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.inspectionPassRate}">車輛檢測合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.inspectionNoPassRate}">車輛檢測不合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.aCount}">A(目視及底盤檢驗)檢測數量</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.aPassCount}">A(目視及底盤檢驗)合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.aNoPassCount}">A(目視及底盤檢驗)不合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.aPassRate}">A(目視及底盤檢驗)合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.aNoPassRate}">A(目視及底盤檢驗)不合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.bCount}">B(汽油／天然氣汽車尾氣排放)檢測數量/th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.bPassCount}">B(汽油／天然氣汽車尾氣排放)合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.bNoPassCount}">B(汽油／天然氣汽車尾氣排放)不合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.bPassRate}">B(汽油／天然氣汽車尾氣排放)合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.bNoPassRate}">B(汽油／天然氣汽車尾氣排放)不合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.cCount}">C(柴油汽車尾氣排放)檢測數量</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.cPassCount}">C(柴油汽車尾氣排放)合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.cNoPassCount}">C(柴油汽車尾氣排放)不合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.cPassRate}">C(柴油汽車尾氣排放)合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.cNoPassRate}">C(柴油汽車尾氣排放)不合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.dCount}">D(摩托車尾氣排放)檢測數量</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.dPassCount}">D(摩托車尾氣排放)合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.dNoPassCount}">D(摩托車尾氣排放)不合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.dPassRate}">D(摩托車尾氣排放)合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.dNoPassRate}">D(摩托車尾氣排放)不合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.eCount}">E(汽油汽車尾氣排放（穩態工況法）)檢測數量</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.ePassCount}">E(汽油汽車尾氣排放（穩態工況法）)合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.eNoPassCount}">E(汽油汽車尾氣排放（穩態工況法）)不合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.ePassRate}">E(汽油汽車尾氣排放（穩態工況法）)合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.eNoPassRate}">E(汽油汽車尾氣排放（穩態工況法）)不合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.fCount}">F(柴油汽車尾氣排放（加載減速法）)檢測數量</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.fPassCount}">F(柴油汽車尾氣排放（加載減速法）)合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.fNoPassCount}">F(柴油汽車尾氣排放（加載減速法）)不合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.fPassRate}">F(柴油汽車尾氣排放（加載減速法）)合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.fNoPassRate}">F(柴油汽車尾氣排放（加載減速法）)不合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.gCount}">G(側滑檢測)檢測數量</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.gPassCount}">G(側滑檢測)合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.gNoPassCount}">G(側滑檢測)不合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.gPassRate}">G(側滑檢測)合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.gNoPassRate}">G(側滑檢測)不合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.hCount}">H(行車制動 (儀器))檢測數量</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.hPassCount}">H(行車制動 (儀器))合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.hNoPassCount}">H(行車制動 (儀器))不合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.hPassRate}">H(行車制動 (儀器))合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.hNoPassRate}">H(行車制動 (儀器))不合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.iCount}">I(行車制動 (路試))檢測數量</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.iPassCount}">I(行車制動 (路試))合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.iNoPassCount}">I(行車制動 (路試))不合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.iPassRate}">I(行車制動 (路試))合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.iNoPassRate}">I(行車制動 (路試))不合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.jCount}">J(駐車制動 (儀器))檢測數量</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.jPassCount}">J(駐車制動 (儀器))合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.jNoPassCount}">J(駐車制動 (儀器))不合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.jPassRate}">J(駐車制動 (儀器))合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.jNoPassRate}">J(駐車制動 (儀器))不合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.kCount}">K(駐車制動 (路試))檢測數量</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.kPassCount}">K(駐車制動 (路試))合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.kNoPassCount }">K(駐車制動 (路試))不合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.kPassRate}">K(駐車制動 (路試))合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.kNoPassRate}">K(駐車制動 (路試))不合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.lCount}">L(前照燈)檢測數量</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.lPassCount}">L(前照燈)合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.lNoPassCount }">L(前照燈)不合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.lPassRate}">L(前照燈)合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.lNoPassRate}">K(駐車制動 (路試))不合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.mCount}">M(噪音)檢測數量</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.mPassCount}">M(噪音)合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.mNoPassCount}">M(噪音)不合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.mPassRate}">M(噪音)合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.mNoPassRate}">M(噪音)不合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.pCount}">P(計程錶)檢測數量</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.pPassCount}">P(計程錶)合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.pNoPassCount }">P(計程錶)不合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.pPassRate}">P(計程錶)合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.pNoPassRate}">P(計程錶)不合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.mechanicalInspectionCount}">機械檢驗數量</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.mechanicalInspectionPassCount}">機械檢驗合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.mechanicalInspectionNoPassCount }">機械檢驗不合格數</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.mechanicalInspectionPassRate}">機械檢驗合格率</th>
                            <th th:text="#{rpt.export.inspectionItemStatistics.mechanicalInspectionNoPassRate}">機械檢驗不合格率</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div id="table_action" style="display: none">
    <div class="text-center">

    </div>
</div>
<!aScript腳本 -->
<div th:replace="fragments/script">Script JS</div>
<!-- 自己系統的腳本請在下面引入 -->

<script type="text/javascript" src="static/js/rpt/export/inspectionItemStatistics.js" th:src="@{/static/js/rpt/export/inspectionItemStatistics.js}"></script>

</body>
</html>