<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head">head</div>
    <title></title>
</head>
<body>
<div class="col-sm-12" id="app">
    <div th:replace="fragments/layout :: content_header(|#{rpt.export.pdaLoginLogoutLog.header.title}|, 'CLP-RPT-007')">SCREEN-ID</div>
    <form class="form-horizontal bv-form" id="fm-search">
        <fieldset>
            <div class="form-group">
                <label class="control-label col-sm-1 required" th:text="#{rpt.export.center}">驗車中心</label>
                <div class="col-sm-2">
                    <v-select :url="centerUrl" id="centerCode" name="centerCode" th:placeholder="#{que.center}" placeholder="請選擇"></v-select>
                </div>
                <label class="control-label col-sm-1" for="startDate" th:text="#{rpt.export.date}">時間</label>
                <div class="col-sm-3_5">
                    <div class="input-group">
                        <input id="startDate" autocomplete="off" name="startDate" class="input-sm form-control" th:placeholder="#{global.dateFormat}" placeholder="DD/MM/YYYY" style="padding-right: 18px">
                        <span class="input-group-addon">-</span>
                        <input id="endDate" autocomplete="off" name="endDate" class="input-sm form-control" th:placeholder="#{global.dateFormat}" placeholder="DD/MM/YYYY">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12" style="text-align:right;">
                    <button class="btn btn-primary" type="button" @click="searchFunc()">
                        <i class="glyphicon glyphicon-search"></i>
                        <span th:text="#{global.search}"></span>
                    </button>
                    <button class="btn btn-default" type="button" @click="reset()">
                        <i class="glyphicon glyphicon-repeat"></i>
                        <span th:text="#{global.reset}"></span>
                    </button>
                    <button class="btn btn-default" type="button" @click="exportData()" sec:authorize="hasPermission('EXPORT-PDA-LOGIN-LOG')">
                        <i class="glyphicon glyphicon-save"></i>
                        <span th:text="#{global.export}"></span>
                    </button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <table class="table table-bordered table-condensed dataTable" id="table">
                        <thead>
                        <tr role="row">
                            <th th:text="#{rpt.export.pdaLoginLogoutLog.userId}">驗車員編號</th>
                            <th th:text="#{rpt.export.pdaLoginLogoutLog.workStatus}">驗車員狀態</th>
                            <th th:text="#{rpt.export.pdaLoginLogoutLog.createDate}">創建時間</th>
                            <th th:text="#{rpt.export.pdaLoginLogoutLog.centerCodeCn}">驗車中心名稱</th>
                            <th th:text="#{rpt.export.pdaLoginLogoutLog.workTimeType}">更次</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div id="table_action" style="display: none">
    <div class="text-center">

    </div>
</div>
<!aScript腳本 -->
<div th:replace="fragments/script">Script JS</div>
<!-- 自己系統的腳本請在下面引入 -->

<script type="text/javascript" src="static/js/rpt/export/pdaLoginLogoutLog.js" th:src="@{/static/js/rpt/export/pdaLoginLogoutLog.js}"></script>

</body>
</html>