<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head">head</div>
    <title>heartBeatAPIRequest</title>
    <style>
        @media (min-width: 992px) {
            .col-md-3 {
                width: 20%;
            }
        }
    </style>
</head>
<body >
<div class="container-fluid padding-bottom-50" id="heartBeatAPIRequestApp">

    <div class="container-fluid">
        <div th:replace="fragments/layout :: content_header(|#{api.trigger.heartBeatAPIRequest.header.title}|, 'CLP-API-009')">
            SCREEN-ID
        </div>
    </div>

    <form id="heartBeatAPIRequestForm" class="form-horizontal bv-form">
        <fieldset>

            <input type="hidden" name="apiName" v-model="apiName"   class="form-control" />

            <div class="form-group">
                <label class="control-label col-sm-2 control-label-required"  for="dataCentreId">
                    <span th:text="#{api.trigger.requestParams.label.dataCentreId}"></span></label>
                <div class="col-sm-5">
                    <!--<input  name="dataCentreId"
                            v-model="dataCentreId" th:placeholder="#{api.trigger.requestParams.dataCentreId}"
                            type="text" class="form-control"  style="width: 100%" ref = "dataCentreId"
                    />-->
                    <v-select lazy="true" v-model="dataCentreId" name="dataCentreId" ref="dataCentreIdSelect"
                              th:placeholder="#{global.pleaseSelect}" :url="dataCentreIdUrl" :options="dataCentreIdOptions"></v-select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2"></label>
                <div class="col-sm-5">
                    <button type="button" class="btn btn-primary" draw-confirm @click="doSubmit" >
                        <span th:text="#{global.submit}">提交</span>
                    </button>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2"><span th:text="#{api.trigger.responseResult}"></span></label>
                <div class="col-sm-5">
                    <pre name="apiResponseValues" disabled="disabled" style="height: 280px" ></pre >
                </div>
            </div>
        </fieldset>
    </form>

    <!-- 注入系統默認javaScript腳本 -->
    <div th:replace="fragments/script">Script JS</div>
    <!-- 自己系統的腳本請在下面引入 -->
    <script type="text/javascript" th:inline="javascript">

    </script>
    <script type="text/javascript" src="static/js/triggerApi/heartBeat.js" th:src="@{/static/js/triggerApi/heartBeat.js}"></script>
</div>
</body>
</html>