<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head">head</div>
    <title>historyDetail</title>
</head>
<body>
<div class="container-fluid" id="historyDetailApp">
    <!-- screen id -->
    <div th:replace="fragments/layout :: content_header(|#{api.trigger.historyDetail.header.title}|, 'CLP-API-011')">SCREEN-ID</div>
    <form id="historyDetailForm" class="form-horizontal bv-form" ref = "fmSearch">
        <fieldset>

            <div class="form-group">
                <label class="control-label col-sm-2 control-label-required" for="apiRequestParams" control-label-required>
                    <span th:text="#{api.trigger.requestParams}"></span></label>
                <div class="col-sm-5">
                    <!--<textarea name="apiRequestParams" v-model="apiRequestParams" class="form-control" rows="10" disabled="disabled"
                              style="overflow: auto;word-break: break-all;width: 100%;" ></textarea>-->

                    <pre name="apiRequestParams" disabled="disabled" ></pre >
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2 control-label-required" for="apiResponseValues" control-label-required>
                    <span th:text="#{api.trigger.responseResult}"></span></label>
                <div class="col-sm-5">
                    <!--<textarea name="apiResponseValues" v-model="apiResponseValues" class="form-control" rows="15" disabled="disabled"
                                style="width: 100%"></textarea>-->

                    <pre name="apiResponseValues" disabled="disabled" ></pre >
                </div>


            </div>

        </fieldset>
    </form>
</div>
<!-- 注入系統默認javaScript腳本 -->
<div th:replace="fragments/script">Script JS</div>
<!-- 自己系統的腳本請在下面引入 -->

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/

    var vModel = {
        apiHistoryId : [[${apiHistoryId}]]
    };
</script>

<script type="text/javascript" src="static/js/triggerApi/historyDetail.js" th:src="@{/static/js/triggerApi/historyDetail.js}"></script>

</body>
</html>