<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head">head</div>
    <title>SecurityEventAPIRequest</title>
    <style>
        @media (min-width: 992px) {
            .col-md-3 {
                width: 20%;
            }
        }
    </style>
</head>
<body >
<div class="container-fluid padding-bottom-50" id="securityEventAPIRequestApp">

    <div class="container-fluid">
        <div th:replace="fragments/layout :: content_header(|#{api.trigger.securityEventAPIRequest.header.title}|, 'CLP-API-007')">
            SCREEN-ID
        </div>
    </div>

    <form id="securityEventAPIRequestForm" class="form-horizontal bv-form">
        <fieldset>


            <div class="form-group">
                <label class="control-label col-sm-2 control-label-required"  for="dataCentreId">
                    <span th:text="#{api.trigger.requestParams.label.dataCentreId}"></span></label>
                <div class="col-sm-5">
                    <!--<input  name="dataCentreId"
                            v-model="dataCentreId" th:placeholder="#{api.trigger.requestParams.dataCentreId}"
                            type="text" class="form-control"  style="width: 100%" ref = "dataCentreId"
                    />-->
                    <v-select lazy="true" v-model="dataCentreId" name="dataCentreId" ref="dataCentreIdSelect" :url="dataCentreIdUrl" :options="dataCentreIdOptions"></v-select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2 control-label-required" for="eventType">
                    <span th:text="#{api.trigger.requestParams.label.eventType}"></span>
                </label>
                <div class="col-sm-5">
                    <v-select name="eventType" th:placeholder="#{global.pleaseSelect}"
                              sys-code-type="1001" :options="eventTypeOptions"></v-select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2 control-label-required" for="severity">
                    <span th:text="#{api.trigger.requestParams.label.severity}"></span>
                </label>
                <div class="col-sm-5">
                    <v-select name="severity" th:placeholder="#{global.pleaseSelect}"
                              sys-code-type="2002" :options="severityOptions"></v-select>
                </div>
            </div>



            <div class="form-group">
                <label class="control-label col-sm-2 control-label-required">
                    <span th:text="#{api.trigger.requestParams.label.timeStampEvent}"></span>
                </label>
                <div class="col-sm-5">
                    <input type="text" id="securityEvent-timeStampEvent" name="timeStampEvent" v-model="timeStampEvent"
                           class="form-control form_datetime"  autocomplete="off" placeholder="yyyy-mm-dd hh:ii:ss" >
                </div>
            </div>



            <div class="form-group">
                <label class="control-label col-sm-2 control-label-required" for="servicesAffected" control-label-required>
                    <span th:text="#{api.trigger.requestParams.label.servicesAffected}"></span></label>
                <div class="col-sm-5">
                    <textarea name="servicesAffected" v-model="servicesAffected" class="form-control" rows="5"
                              th:placeholder="#{api.trigger.requestParams.servicesAffected}"  style="width: 100%"></textarea>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-2"></label>
                <div class="col-sm-5">
                    <button type="button" class="btn btn-primary" draw-confirm  >
                        <span th:text="#{global.submit}">提交</span>
                    </button>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2"><span th:text="#{api.trigger.responseResult}"></span></label>
                <div class="col-sm-5">
                    <pre name="apiResponseValues" disabled="disabled" style="height: 280px" ></pre >
                </div>
            </div>
        </fieldset>
    </form>

    <!-- 注入系統默認javaScript腳本 -->
    <div th:replace="fragments/script">Script JS</div>
    <!-- 自己系統的腳本請在下面引入 -->
    <script type="text/javascript" th:inline="javascript">

    </script>
    <script type="text/javascript" src="static/js/triggerApi/securityEvent.js" th:src="@{/static/js/triggerApi/securityEvent.js}"></script>
</div>
</body>
</html>