<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/head">head</div>
<title>JobCtrlLog List</title>

</head>
<body>
    <div class="container-fluid">

        <!-- screen id -->
<!--         <div th:replace="fragments/layout :: content_header(|#{jobCtrl.header.title}|, 'DLS-SHC-001')">SCREEN-ID</div> -->
        <!-- Table -->
        <table id="table" class="table table-bordered table-hover table-condensed" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th th:text="#{jobCtrlLog.jobName}">Job Name</th>
                    <th th:text="#{jobCtrlLog.recProcessed}">處理記錄數</th>
                    <th th:text="#{jobCtrlLog.recPending}">未處理記錄數</th>
                    <th th:text="#{jobCtrlLog.recInsert}">新增記錄數</th>
                    <th th:text="#{jobCtrlLog.recUpdate}">更新記錄數</th>
                    <th th:text="#{jobCtrlLog.recDelete}">刪除記錄數</th>
                    <th th:text="#{jobCtrlLog.startTime}">開始時間</th>
                    <th th:text="#{jobCtrlLog.endTime}">結束時間</th>
                    <th th:text="#{jobCtrlLog.status}">工作狀態</th>
                    <th th:text="#{jobCtrlLog.latestJobInd}">是否最新工作</th>
                </tr>
            </thead>
        </table>

    </div>

    <!-- 注入系統默認javaScript腳本 -->
    <div th:replace="fragments/script">Script JS</div>
    <!-- 自己系統的腳本請在下面引入 -->

   <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
        //此處為將國際化傳值到JS
        var i18n= {
                update: [[#{global.update}]]
        };
    /*]]>*/ 
    </script>

    <script type="text/javascript" src="static/js/sch/schCtrlLogController.js" th:src="@{/static/js/sch/schCtrlLogController.js}"></script>

</body>
</html>
