<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/head">head</div>
<title>列印駕駛執照清單</title>
</head>

<body>
    <div class="container-fluid">
        <div th:replace="fragments/layout :: content_header(|#{rptLicPdmList.header.title}|, 'IRD-LIC-169')">SCREEN-ID</div>

        <form class="form-horizontal bv-form" id="fm-search">
                <div class="form-group">
                     <label class="control-label col-sm-1_5" for="licType" th:text="#{license.licType}">駕照類型</label>
                    <div class="col-sm-4">
                        <select id="licType" name="licType" class="form-control sysselect" data-codeType="31021"></select>
                    </div>
                    <label class="control-label col-sm-1_5" th:text="#{license.licStatus}">駕照狀態 </label>
                    <div class="col-sm-3">
                        <select id="licStatus" name="licStatus" class="form-control simpleselect">
                            <option value=""><span th:text="#{global.pleaseSelect}">請選擇...</option>
                            <option value="A"><span th:text="#{LicCommonStatus.ACTIVE}"></span></option>
                            <option value="C"><span th:text="#{LicCommonStatus.CANCEL}"></span></option>
                            <option value="P"><span th:text="#{LicCommonStatus.PENDING}"></span></option>
                            <option value="I"><span th:text="#{LicCommonStatus.INACTIVE}"></span></option>
                        </select>
                    </div>
                 </div>
                 <div class="form-group">
                    <label class="control-label col-sm-1_5">駕照編號集 </label>
                    <div class="col-sm-8_5">
                        <select id="licNoList" name="licNoList" class="form-control" multiple="multiple" codeTypeFilter="true">
                        </select>
                    </div>
                 </div>
                 <div id="parentDiv">
                     <div class="form-group">
                        <label class="control-label col-sm-1_5" for="status" th:text="#{rptLicPdmList.licNo}">駕照編號段</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                            <input id="licNoStart" name="licNoStart" value="" class="form-control "  placeholder="開始編號">
                                <span class="input-group-addon">-</span>
                                <input id="licNoEnd" name="licNoEnd" value="" class="form-control"  placeholder="結束編號">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <button id="btn-create" type="button" class="btn btn-sm btn-default">
                                <i class="glyphicon glyphicon-plus"></i> <span th:text="#{global.create}">新增</span>
                            </button>
                        </div>
                        
                        <label class="control-label col-sm-0_5"></label>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-sm btn-primary" id="btn-search" th:text="#{global.search}">
                                <i class="glyphicon glyphicon-search"></i>&nbsp;查詢
                            </button>
                            <button type="reset"  class="btn btn-sm btn-default reset" id="btn-reset"  th:text="#{global.reset}">
                                <i class="glyphicon glyphicon-refresh"></i>&nbsp;重置
                            </button>
                             <button id="printExcel"  class="btn btn-sm btn-primary" disabled="disabled">
                                 <i class="glyphicon glyphicon-print"></i>&nbsp;列印
                            </button>
                             <button id="printEnvelope"  class="btn btn-sm btn-primary pull-right" disabled="disabled">
                                 <i class="glyphicon glyphicon-print"></i> 
                                 <span th:text="#{rptLicPdmList.printEnvelopeSticker}">列印檔案封套</span>
                            </button>
                             <!-- <a id="printExcel" href="../pdmListPrintExcel?licType=0&&licStatus=A" class="btn btn-sm btn-primary print" >
                                <i class="glyphicon glyphicon-print"></i>&nbsp;列印
                            </a> -->
                        </div>
                    </div>
                </div>
                
                <div id="fm-validator" class="form-group" style="display: none;">
                    <div class="col-sm-offset-1_5 col-sm-8_5">
                        <div class="alert alert-danger">
                            <span id="msg"></span>
                        </div>
                    </div>
                </div>
                
        </form>
  
        <table id="table-lic" class="table table-bordered table-hover table-condensed" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th><text th:text="#{license.licType}">駕照類型</text></th>
                    <th>
                       <text th:text="#{license.licNo}">駕照編號</text><br/>
                    </th>
                     <th>
                        <text th:text="#{license.nameCN}">姓名(中文)</text>
                    </th>
                    <th>
                        <text th:text="#{license.namePT}">姓名(葡文)</text>
                    </th>
                    <th><text th:text="#{license.firstIssueDate}">首次簽發日期</text><br/>
                        <span class='text text-muted'><text >日期格式DD/MM/YYYY</text></span>
                    </th>
                    <th><text th:text="#{license.lastIssueDate}">本次簽發日期</text></th>
                    <th><text th:text="#{license.validDate}">駕照有效期</text></th>
                    <th><text th:text="#{license.licCat}">駕駛類別</text>
                    </th>
                    <th th:text="#{global.action}">操作</th>
                </tr>
            </thead>

        </table>
        
          </div>
    <!-- 注入系統默認javaScript腳本 -->
    <div th:replace="fragments/script">Script JS</div>

    <!-- 自己系統的腳本請在下面引入 -->

    <script type="text/javascript" th:inline="javascript">
    
    </script>

   <script type="text/javascript" src="static/js/rpt/rptLicRangeListController.js" th:src="@{/static/js/rpt/rptLicRangeListController.js}"></script>
    
    
</body>

</html>