<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/head">head</div>
<title>Params List</title>

</head>
<body>
    <div id="content-div" class="container-fluid">
        <div th:replace="fragments/layout :: content_header('系統參數對比(僅顯示數據庫與ehcahe不同的參數)', 'CLP-SYS-020')">SCREEN-ID</div>
        <div id="showDiv" class="row form-group alert alert-success" hidden>
            <label class="control-label col-sm-12">ehcahe和數據庫中暫無不同參數</label>
        </div>
        <div id="titleDiv" class="row form-group">
            <label class="control-label col-sm-3">參數名稱</label>
            <label class="control-label col-sm-3">數據庫參數值</label>
            <label class="control-label col-sm-3">ehcahe參數值</label>
            <label class="control-label col-sm-3">描述</label>
        </div>
    </div>

    <!-- 注入系統默認javaScript腳本 -->
    <div th:replace="fragments/script">Script JS</div>
    <!-- 自己系統的腳本請在下面引入 -->

    <script type="text/javascript" src="static/js/sys/sysParamsContrastController.js" th:src="@{/static/js/sys/sysParamsContrastController.js}"></script>

</body>
</html>
