<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dls="http://dls.atos.net/security">
<head>
<div th:replace="fragments/head">head</div>
<title>user Edit</title>

</head>
<body>
    <div class="container" id="app">
        
        <!-- screen id -->
        <div th:replace="fragments/layout :: content_header(|#{user.header.detail}|, 'CLP-SYS-035')">SCREEN-ID</div>
        <!-- form -->
        <form id="param-form" class="form-horizontal margin-top-10">
            <div class="form-group">
                <label class="control-label col-sm-2" for="userId" th:text="#{user.userId}">用戶編號</label>
                <div class="col-sm-3">
                       <input id="userId" name="userId" v-model="user.userId" class="form-control" th:placeholder="#{user.userId}" placeholder="用戶編號" disabled>
                </div>
                
                <label class="control-label col-sm-2" for="userCname" th:text="#{user.userCname}">用戶中文姓名</label>
                <div class="col-sm-3">
                       <input id="userCname" name="userCname" v-model="user.cnName" class="form-control" th:placeholder="#{user.userCname}" placeholder="用戶編號" disabled>
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-sm-2" for="status" th:text="#{user.status}">用戶狀態</label>
                <div class="col-sm-3">
                    <input id="" name="status" v-if="user.status=='A'" th:value="#{global.activeStatus}" class="form-control" th:placeholder="#{user.status}" disabled>
                    <input id="" name="status" v-if="user.status=='D'" th:value="#{global.deleteStatus}" class="form-control" th:placeholder="#{user.status}" disabled>
                    <input id="" name="status" v-if="user.status=='S'" th:value="#{global.stopStatus}" class="form-control" th:placeholder="#{user.status}" disabled>
                </div>
                
                <label  class="control-label col-sm-2" for="userEname" th:text="#{user.userEname}">用戶英文姓名</label>
                <div class="col-sm-3">
                    <input id="userEname" name="userEname" v-model="user.enName" class="form-control" th:placeholder="#{user.userEname}" placeholder="用戶英文姓名" disabled>
                </div>
            </div>
            
            
            <div class="form-group"
                style="margin-left: 2px; margin-right: 2px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{role.roleAuthorization}"></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="role-module-func" class="table table-hover table-condensed" width="100%">
                                <thead>
                                    <tr>
                                        <th style="border-right:#D3D3D3 solid 1px;" th:text="#{role.role}">角色名</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                         <td style="width: 140px;border-right:#D3D3D3 solid 1px">
                                             <template  v-for ="(role,key,index) in roleList">
                                                <div style="width: 600px; margin-right: 20px;float: left;">
                                                    <input type="checkbox" :value="role.roleId"  :id="role.roleId"   v-model="user.roleIds" disabled/>
                                                    <label :for="role.roleId">{{role.role}}-{{role.roleDesc}}</label>
                                                </div>
                                             </template >
                                         </td>
                                    </tr>
                                </tbody>
                             </table>
                        </div>
                    </div>
                </div>                
            </div>
        </form>

    </div>

    <!-- 注入系統默認javaScript腳本 -->
    <div th:replace="fragments/script">Script JS</div>
    <!-- 自己系統的腳本請在下面引入 -->
    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
        //此處為將表單的值傳值到JS
        var vModel = {
                userId: [[${userId}]]
            };
    /*]]>*/ 
    </script>
        <script type="text/javascript" src="static/js/sys/userEditController.js" th:src="@{/static/js/sys/userEditController.js}"></script>
    
</body>
</html>
